<div>
    <h3>Hi, {{ user?.displayName}}</h3>
    <img [src]="user?.photoURL">
    <p>UID: {{ user?.uid }}</p>
    <button (click)="auth.signOut()">Logout</button>
    <input type="text" name="number" (change)="change($event)">
    <button (click)="PhoneUpdate()">Update</button>
</div>